/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/

/** Common Styles */

body {

        margin-left: 0%;
        width: 100%;
	background: rgb(249,244,240)  url(images/images01.jpg) repeat-x left top;
	

}

#subbody {
    background: #FFFFFF repeat-x;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#box2colunas {
    background: #FFFFFF repeat-x;
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


/** LOGO */

#logo {
        margin-left: 0%;
	height: 160px;
        width: 100%;
	background: rgb(0,147,221);
        border-bottom: 10px solid black;
}

#logo h1 {
	margin: 0px;
        margin-left: 20%;
	padding: 70px 0px 0px 0px;
	letter-spacing: -3px;
	text-align: left;
	font-size: 60px;
	color: #FFFFFF;
}


/** CONTENT */



#content-wrap {
}

#content {
	width: 100%;
	margin-top: 0px;
	padding: 30px 20px 30px 20px;
}

#colunaA {
	width:12.5%;
	background-color:#000000;
	float:left;


}

#colunaB {
	width:83.15%;
	background-color:#FFFFFF;
        text-align: justify;
        padding: 0px 15px 15px 15px;
        padding-right: 45px;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
	float:left;
}
#campos {
    float: left;
    margin-left: 30px;
    padding: 0 100px 0 15px;
   }

.box {
	background: #1B1B1B;
}

.box .content {
	margin-bottom: 30px;
	padding: 20px 20px;
	line-height: 2em;
}

.box ul {
	line-height: 5em;
}


.box a {
	color: #717171;
}

.box h3 {
	padding: 0px 0px 10px 0px;
	color: #FFFFFF;
}

.box1 {
	margin-bottom: 20px;
}

.two-columns {
	margin-top: 0px;
}

.two-columns .colA {
	float: left;
	width: 260px;
	background: #1B1B1B;
}

.two-columns .colB {
	float: right;
	width: 260px;
	background: #1B1B1B;
}

.two-columns .content {
	padding: 10px 20px 20px 20px;
	line-height: 2em;
}

.two-columns .style1 {}

.two-columns h3 {
	margin: 0px;
	padding: 15px 10px 15px 20px;
	background: #000000;
}

/*        V2        */


/** FOOTER */

#footer-wrapper {
	height: 100px;
	background: #000000;
}

#footer {
	width: 50%;
	height: 100px;
	margin: 0px auto;
	background: #000000;
	font-size: 10px;
	color: #4C4C4C;
}

#footer p {
	margin-left: 27%;
	padding: 0px 0px;
	text-align: left;
	text-transform: uppercase;
}

#footer a {
}

#foto {
    background: url(images/telefonista.jpg) no-repeat; /* Insere a imagem */
    margin-left: 22%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    float: left;
    width:75%;
    height: 400px;
}

#fotologinho {
  background: rgb(242,248,244) url(images/finabinho.PNG) no-repeat; /* Insere a imagem */
  height: 120px;
  border-top: 3px solid #393939;
  border-bottom: 5px solid #393939;
  border-right: 5px solid #393939;
  border-left:  0px solid #393939;
}

#fotoLogin {
    background: url(images/login.jpg) no-repeat; /* Insere a imagem */
    margin-top: -30px;
    padding-bottom: 20px;
    float: left;
    width: 600px;
    height: 340px;
}

#fotologo {
    background: url(images/logo2.jpg) no-repeat; /* Insere a imagem */
    position: absolute;
    margin-top: 0px;
    margin-left: 66.2%;
    width: 500px;
    float: right;
    border-bottom: 10px solid black;
    height: 160px;
}

#fotologo2 {
    background: url(images/logonovo.jpg) no-repeat; /* Insere a imagem */
    position: absolute;
    margin-top: 0px;
    margin-left: 12.5%;
    width: 87.4%;
    float: right;
    border-left: 3px solid black;
    border-bottom:0px solid black;
    height: 159px;
}

#fotoFinaban {
    background: url(images/Finaban.jpg) no-repeat; /* Insere a imagem */
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 28%;
    float: left;
    width: 50%;
    height: 300px;
}

#fotoservicos {
    background: url(images/fotoservicos.png) no-repeat; /* Insere a imagem */
    margin-left: 28%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    float: left;
    width:50%;
    height: 300px;
}

#botoes {
    margin-left: 15px;
}

#menu {
	background: #333;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
        border-left:3px solid #393939;
}



#menu li {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-weight: bold;
        color: #fff;
        margin: 0;
	padding: 0;
}

#menu a {
        background: rgb(59,154,212);
	border-bottom: 3px solid #393939;
	color: #fff;
	display: block;
        height: 20px;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}
